
.mycon1, .mycon2, .mycon3
{
    width: 33.33%;
    float: left;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0 10px; /* Add some horizontal padding for spacing */
}

input

{
    width: 100%; /* Make the input fields fill the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: 70%;
}

.mycon4, .mycon7, .mycon8

{
    width: 9%;
    float: left;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0 10px;
}



.mycon9
{
     width: 30%;
     float: right;
     justify-content: center;
     box-sizing:border-box;
     

}
.info-section
{
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Distribute elements evenly */
    width: 48%; /* Make the container full width */
    margin-bottom: 10px; /* Add some space below the heading */
    justify-items: auto;
  
}
.info-section span{
 color: black;
 font-weight: bold;
}
.mycon11, .mycon12
{
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
   
}
.info-section1{
    display: flex;
    justify-content:space-between;
    width: 48%;
    margin-bottom: 10px;
}
.info-section1 span{
    color:black;
    font-weight: bold;

}
.myinput{
    width: 98%;
    
}
.info-section2{
    display: flex;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 10px;
    
}
.info-section2 span{
    color: black;
    font-weight: bold;
}
.mycon13, .mycon14, .mycon17, .mycon18
{
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}
.mycon19{
    width: 48%;
    float: left;
    box-sizing: 48%;
}

.mycon19 input{
    width: 49%;
    box-sizing: 49%;
}
.mycon21{
    float: left;
    background-color: green;
}
.mycon22{
    float: right;
}
.mycon27{
    float: right;
    background-color: green;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    background-size: 100% 100%;
    background-position: center;
   
    background-attachment: fixed;
}

.wrapper{
    background-color:lightgray;
    width: auto;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 48%;
}

.wrapper .btn1 {
    border-radius: 20px;
    text-align: center;

}

.wrapper .btn {
    border-radius: 20px;
}

.wrapper h1 {
    text-align: center;
    
}

.wrapper p {
    text-align: center;
}